# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres123
DB_NAME=social_network

# Backend
PORT=3000
JWT_ACCESS_SECRET=your_access_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# File upload
UPLOAD_DIR=./uploads
AVATARS_DIR=/avatars
TEMP_DIR=/temp
MAX_FILE_SIZE=5242880   # 5 MB